@import "bourbon";
@import "neat";
@import "font-awesome";


h1 {
  margin-left: 43%;
}


.app {
  max-width: 1000px;

  .header {
    text-align: center;
    background: green;

    img {
      padding: 5px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    button {
      padding: 15px;
      background: none;
      border: none;
    }
  }

  .gallery-images{
    @include outer-container;
    width: 80%;
    margin-left: 10%;

    img{
      @include span-columns(3);
      width: 150px;
      height: 150px;
      padding: 5px;
      border-radius: 5%;
    }
  }

  .image-view{
    @include outer-container;
    font-size: 25px;
    background: white;

    img{
      @include span-columns(6);
      width: 200px;
      height: 200px;
      margin-left: 10%;
      border-radius: 5%;
    }

    p{
      @include span-columns(6);
      display: inline-block;
      color: black;
    }

    .username{
      font-weight: bold;
      font-size: 20px;
      padding: 5px;
    }
  }

  .new-post form,
  .edit-post form{
    text-align: center;
    padding: 15px;

    button {
      background: none;
      border-radius: 3px;
      border: 1px solid black;
    }
  }

  .new-post label, 
  .edit-post label{
    display: block;
    padding: 15px;
  }

  input {
    width: 300px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
  }

  h2{
    text-align: center;
  }

}

.copyright{
  text-align: center;
  padding: 5px;
}